relatorios3-text {
    font-size: 150%;
}
.relatorios3-textinput {
    background-color: #D9D9D9;
}
.relatorios3-textinput1 {
    background-color: #D9D9D9;
}
.relatorios3-text4 {
    color: #000000;
}